/* 公用CSS通用类 --Start*/
* {
    margin: 0;
    padding: 0;
}

body {
    font: 12px/150% Arial,Verdana,"\5b8b\4f53";
    color: #666;
}

h2, h3 {
    font-family: "microsoft yahei";
    font-weight: 400;
}

a {
    color: #666;
    text-decoration: none;
    outline: none;
}

ol, ul {
    list-style: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
/*公用CSS通用类 --End*/

/*特殊设置*/
/*字体*/
#divConMenu02 {
    font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", b8bf53, sans-serif;
}



/*顶部功能菜单*/
#divTopMenuCon {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #F1F1F1;
}

    #divTopMenuCon .w {
        margin: 0 auto;
        width: 1210px;
        height: 30px;
    }

    #divTopMenuCon .list {
        cursor: default;
    }

.icon {
    margin-left: 5px;
}

.dorppart {
    padding: 0 10px;
    min-width: 75px;
    position: relative;
    z-index: 12;
}

.hover .dorppart {
    background: #fff;
    border: solid #ddd;
    border-width: 0 1px;
}

.dorpdown {
    position: relative;
}

.dorpdown-panel {
    display: none;
    position: absolute;
    top: 29px;
    width: 301px;
    padding: 10px 0 10px 10px;
    background: #fff;
    border: 1px solid #ddd;
    z-index: 11;
}

.hover .dorpdown-panel {
    display: block;
}

.dorpdown-panel ul {
    display: block;
}

    .dorpdown-panel ul li {
        display: inline-block;
        line-height: 20px;
        height: 20px;
        width: 60px;
        padding: 0 8px 0 2px;
    }

        .dorpdown-panel ul li a {
            margin: 0 2px 0 8px;
            float: left;
            padding: 2px 6px;
            color: #666;
            outline: none;
        }

            .dorpdown-panel ul li a:hover:not(.selected) {
                background: #F4F4F4;
            }

.dorpdown-panel .selected {
    background: #C81623;
    color: #fff;
}



/*全部商品分类 内容菜单*/
#divConMenu02 {
    height: 44px;
    border-bottom: 2px solid #B1191A;
}

    #divConMenu02 .w {
        margin: 0 auto;
        width: 1210px;
        height: 44px;
    }


#navitems-2016 {
}

    #navitems-2016 a {
        height: 44px;
        padding: 0 20px;
        text-align: center;
        font: 400 15px/44px "microsoft yahei";
        color: #333;
    }

    #navitems-2016 li {
        float: left;
        width: 88px;
    }

#categorys-2014 {
    width: 210px;
    background: #B1191A;
    position: relative;
    z-index: 10;
}

    #categorys-2014 .dt {
        height: 44px;
        width: 210px;
    }

        #categorys-2014 .dt a {
            width: 190px;
            height: 44px;
            padding: 0 10px;
            background: #B1191A;
            color: #fff;
            display: block;
            font: 400 15px/44px "microsoft yahei";
        }

    #categorys-2014 .dd {
        height: 466px;
        background: #c81623;
        margin-top: 2px;
    }

    #categorys-2014 .dd-inner .item {
        border-left: 1px solid #b61d1d;
        position: relative;
        z-index: 1;
        height: 31px;
        color: #fff;
    }

    /*菜单鼠标移动样式*/
    #categorys-2014 .dd-inner .hover {
        color: #c81623;
        background: #f7f7f7;
    }

        #categorys-2014 .dd-inner .hover a {
            color: #c81623;
        }

    #categorys-2014 .dd-inner a {
        color: #fff;
    }

    #categorys-2014 .dd-inner h3 {
        position: absolute;
        height: 30px;
        padding: 0 10px;
        line-height: 30px;
        font-size: 14px;
        font-weight: 400;
    }

    #categorys-2014 .dd-inner span {
        position: absolute;
        right: 10px;
        top: 9px;
    }

    /*内容菜单激活后panel的样式*/
    #categorys-2014 .dorpdown-layer {
        display: none;
        position: absolute;
        left: 209px;
        top: 45px;
        width: 999px;
        background: #f7f7f7;
        border: 1px solid #b61d1d;
        overflow: hidden;
    }

        #categorys-2014 .dorpdown-layer .item-sub {
            display: none;
            height: 465px;
        }

        #categorys-2014 .dorpdown-layer .hover {
            display: block;
        }


/*内容focus*/
#focus {
    margin: 0 auto;
    width: 1210px;
    position: relative;
}

    #focus .slider-nav {
        position: relative;
    }

        #focus .slider-nav a {
            width: 730px;
            display: block;
            margin: 12px 0 0 220px;
            height: 454px;
        }

            #focus .slider-nav a img {
                border: 0;
            }

    #focus .slider-extra {
        position: absolute;
        right: 0;
        top: 0;
        width: 250px;
    }

#news {
    height: 200px;
    width: 248px;
    overflow: hidden;
    border: solid 1px #e4e4e4;
    border-bottom: 0;
}

    #news .mt {
        padding: 0 15px;
        border-bottom: 1px dotted #E8E8E7;
        height: 43px;
        line-height: 43px;
    }

        #news .mt h2 {
            display: inline-block;
        }

        #news .mt a {
            float: right;
        }

#lifeserv {
    width: 248px;
    overflow: hidden;
    border: solid 1px #e4e4e4;
    border-top: 1px dashed #e4e4e4;
}

    #lifeserv .mt {
        padding: 0 15px;
        border-bottom: 1px dotted #E8E8E7;
        height: 43px;
        line-height: 43px;
    }

    #lifeserv .mc {
        height: 208px;
    }



/*分类信息菜单 横向*/
.clearfix {
    margin-top: 10px;
}

#clothes {
    width: 1210px;
    height: 670px;
    margin: 0 auto;
}

    #clothes .mt {
        border-bottom: 1px solid #c81623;
        overflow: visible;
        position: relative;
        height: 36px;
    }

        #clothes .mt span {
            height: 36px;
            line-height: 36px;
            float: left;
        }

        #clothes .mt h2 {
            float: left;
            height: 36px;
            line-height: 36px;
            margin-left: 5px;
        }

        #clothes .mt ul {
            float: right;
            border: solid 1px #ededed;
            border-bottom: 0 none;
            height: 34px;
            line-height: 34px;
            z-index: 1;
        }

            #clothes .mt ul li {
                display: inline;
                position: relative;
            }

                #clothes .mt ul li a {
                    float: left;
                    height: 34px;
                    padding: 0 16px;
                    line-height: 34px;
                    background: #fff;
                    border-left: solid 1px #fff;
                    border-right: solid 1px #fff;
                    white-space: nowrap;
                }

                    #clothes .mt ul li .hover {
                        border-left: solid 1px #c81623;
                        border-right: solid 1px #c81623;
                        border-top: solid 3px #c81623;
                        white-space: nowrap;
                        height: 33px;
                        line-height: 30px;
                        color: #c81623;
                    }

                #clothes .mt ul li span {
                    position: absolute;
                    width: 1px;
                    background: #ccc;
                    overflow: hidden;
                    height: 14px;
                    top: 10px;
                    right: 0;
                }

                #clothes .mt ul li:last-child span {
                    background: #fff;
                }
    #clothes .mc li{
        display:none;
    }