<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>临摹JD</title>
    <link href="Css/index.css" rel="stylesheet" />
    <link href="../lib/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="../lib/jquery.js"></script>
    <script src="Js/index.js"></script>
</head>
<body>
    <div>
        <!--功能菜单-->
        <div id="divTopMenuCon">
            <div class="w">
                <ul class="fl list">
                    <li class="dorpdown">
                        <div class="dorppart">
                            送至：<span id="myCity">四川</span><span class="icon fa fa-angle-down"></span>
                        </div>
                        <div class="dorpdown-layer">
                            <ul>
                                <li><a href="#" class="selected">北京</a></li>
                                <li><a href="#">上海</a></li>
                                <li><a href="#">天津</a></li>
                                <li><a href="#">重庆</a></li>
                                <li><a href="#">河北</a></li>
                                <li><a href="#">山西</a></li>
                                <li><a href="#">河南</a></li>
                                <li><a href="#">辽宁</a></li>
                                <li><a href="#">吉林</a></li>
                                <li><a href="#">内蒙古</a></li>
                                <li><a href="#">重庆</a></li>
                                <li><a href="#">安徽</a></li>
                                <li><a href="#">山西</a></li>
                                <li><a href="#">湖北</a></li>
                                <li><a href="#">辽宁</a></li>
                                <li><a href="#">黑龙江</a></li>
                                <li><a href="#">天津</a></li>
                                <li><a href="#">重庆</a></li>
                                <li><a href="#">河北</a></li>
                                <li><a href="#">山西</a></li>
                                <li><a href="#">河南</a></li>
                                <li><a href="#">沈阳</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="divposter" style="height: 100px; width: 100%;"></div>

        <!--内容菜单-->
        <div id="divConMenu02">
            <div class="w">
                <div id="categorys-2014" class="fl">
                    <div class="dt">
                        <a href="#">全部商品分类</a>
                    </div>
                    <div class="dd">
                        <div class="dd-inner">
                            <div class="item fore1" data-index="1">
                                <h3><a href="#">家用电器</a></h3>
                                <span class="fa fa-angle-right fa-inverse"></span>
                            </div>
                            <div class="item fore2" data-index="2">
                                <h3>
                                    <a href="#">手机</a>、
                                    <a href="#">数码</a>、
                                    <a href="#">京东通信</a>
                                </h3>
                                <span class="fa fa-angle-right fa-inverse"></span>
                            </div>
                            <div class="item fore3" data-index="3">
                                <h3>
                                    <a href="#">电脑</a>、
                                    <a href="#">办公</a>
                                </h3>
                                <span class="fa fa-angle-right fa-inverse"></span>
                            </div>
                            <div class="item fore4" data-index="4">
                                <h3>
                                    <a href="#">家居</a>、
                                    <a href="#">家具</a>、
                                    <a href="#">家装</a>、
                                    <a href="#">厨具</a>
                                </h3>
                                <span class="fa fa-angle-right fa-inverse"></span>
                            </div>
                            <div class="item fore5" data-index="5">
                                <h3>
                                    <a href="#">男装</a>、
                                    <a href="#">女装</a>
                                </h3>
                                <span class="fa fa-angle-right fa-inverse"></span>
                            </div>
                        </div>
                        <div class="dorpdown-layer">
                            <div class="item-sub" id="category-item-1">
                                <div class="item-channels">1</div>
                                <div class="subitems"></div>
                            </div>
                            <div class="item-sub" id="category-item-2">
                                <div class="item-channels">2</div>
                                <div class="subitems"></div>
                            </div>
                            <div class="item-sub" id="category-item-3">
                                <div class="item-channels">3</div>
                                <div class="subitems"></div>
                            </div>
                            <div class="item-sub" id="category-item-4">
                                <div class="item-channels">4</div>
                                <div class="subitems"></div>
                            </div>
                            <div class="item-sub" id="category-item-5">
                                <div class="item-channels">5</div>
                                <div class="subitems"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="navitems-2016" class="fl">
                    <ul class="MenuCon">
                        <li><a href="#">服装城</a></li>
                        <li><a href="#">美妆馆</a></li>
                        <li><a href="#">超市</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!--内容focus-->
        <div id="focus">
            <div class="slider">
                <ul class="slider-main">
                    <li class="slider-panel1"></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
